*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1 rem;
    color: rgb(70,70,70);
    box-sizing: border-box;
}
.slide-wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.slide:not(.active){
    display: none;
}
.slide img {
    width:100% ;
}